.header {
  height: 10vh;
  border: 1px solid black;
}

.header h1 {
  text-align: center;
}

.nav-left {
  height: 90vh;
  border: 1px solid black;
}

.main-container {
  height: 90vh;
  border: 1px solid black;
}

.main-display {
  height: 70vh;
  border: 1px solid black;
}

.detail-display {
  height: 20vh;
  border: 1px solid black;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
  color: solid black;
}