.header {
  height: 10vh;
  border: 1px solid black;
}

.header h1 {
  text-align: center;
}

.nav-left {
  height: 90vh;
  border: 1px solid black;
}

.main-container {
  height: 90vh;
  border: 1px solid black;
}

.main-display {
  height: 70vh;
  border: 1px solid black;
}

.detail-display {
  height: 20vh;
  border: 1px solid black;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}